DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stm_shop_clone?schema=public"
SOURCE_SITE_URL="https://shop.stmjournals.com"
JWT_SECRET="sGOtKdGvq5Hs45NAk0GyxE9jtgTAYPXG3qamNIWQoJw"
NEXT_PUBLIC_APP_URL="http://127.0.0.1:3000"
GOOGLE_CLIENT_ID="129391761310-qcehnem3er9s3gj7ic0o6sc0bssj0s2j.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
ADMIN_EMAILS="manish@celnet.in,vivek.verma@panoptical.org"
